/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

hr {
    border-top: 1px dashed black;
}

.center {
    text-align: center;
}

.img-full-width {
    width: 100%;
    margin: 5% 0 2.5% 0;
}

nav.nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 3%;
    align-items: flex-end;
}

.nav-container .nav-logo {
    flex: 0.2;
}

.nav-container .nav-navigation {
    flex: 0.7;
    display: flex;
    justify-content: space-between;
}

.nav-navigation a {
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*INDEX/MAIN PAGE SPECIFIC CSS*/

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box:hover {
    animation-name: filter-scale;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;

}

@keyframes filter-scale {
    100% {
       filter: invert(100%);
       transform: scale(1.2)
    }
}

.middle-content .boxes .box:nth-child(1) {
    background-color: teal;
}

.middle-content .boxes .box:nth-child(2) {
    background-color: gold;
}

.middle-content .boxes .box:nth-child(3) {
    background-color: cadetblue;
}

.middle-content .boxes .box:nth-child(4) {
    background-color: coral;
}

.middle-content .boxes .box:nth-child(5) {
    background-color: crimson;
}

.middle-content .boxes .box:nth-child(6) {
    background-color: forestgreen;
}

.middle-content .boxes .box:nth-child(7) {
    background-color: darkorchid;
}

.middle-content .boxes .box:nth-child(9) {
    background-color: hotpink;
}

.middle-content .boxes .box:nth-child(9) {
    background-color: indigo;
}

.middle-content .boxes .box:nth-child(10) {
    background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/*ABOUT PAGE SPECIFIC CSS*/

.about-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row-text {
    margin: 0 2.5% 2.5% 2.5%;
}

.about-box-container {
    width: 45%;
    margin: 2.5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed black;
}

.about-box-text h2{
    padding: 5% 0 2.5% 0;
    font-weight: bold;
}

.about-box-text p{
    margin-bottom: 10%;
}

.about-box-text a {
    margin: 2.5% 0;
    padding: 1.5% 5%;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.about-box-text a:hover {
  animation: color-scale;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes color-scale {
    100% {
       background-color: black;
       color: white;
    }
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

/*PRODUCTS PAGE SPECIFIC CSS*/

.products-content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products-content-container .products-box {
    width: 45%;
    margin: 2.5%;
}

.products-box img {
    border-radius: 10px;
    max-width: 100%;
}

.products-box h2 {
    font-weight: bold;
}

.margin-5 {
    margin: 5% 0;
}

/*CONTACT PAGE SPECIFIC CSS*/

.form-heading {
    font-weight: bold;
    font-size: 2rem;
}

.form-container {
    margin: 4% auto;
    width: 60%;
    padding: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

label {
    width: 15%;
}

input {
    width: 70%;
    line-height: 2;
    border-radius: 10px;
    border: 1px solid darkgray;
    padding-left: 2%;
    box-shadow: none;
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    line-height: 1.25;
    padding-left: 5px;
    font-size: 0.8rem; 
}

textarea {
    width: 70%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid darkgray;
}

textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    line-height: 1.25;
    padding-left: 5px;
    font-size: 0.8rem; 
}